<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="startMinMenuItem" value="true" />
    <add key="minTrayMenuItem" value="true" />
    <add key="minCloseMenuItem" value="true" />
    <add key="runWebServerMenuItem" value="true" />
    <add key="webServerPortNumeric" value="8085" />
    <add key="logSensorsMenuItem" value="false" />
    <add key="startupMenuItem" value="false" />
    <add key="showHiddenSensors" value="true" />
    <add key="mainForm.Location.X" value="-32000" />
    <add key="mainForm.Location.Y" value="-32000" />
    <add key="mainForm.Width" value="400" />
    <add key="mainForm.Height" value="300" />
  </appSettings>
</configuration>
